:root {
  --darkcolor: #424242;
  --lightcolor: #feffea;
  --brightcolor: #fcfc62;
  --darkgrey: #a3a3a3;
  --lightgrey: #c9c9c9;
}

body {
  background: var(--lightgrey);
  font-family: "Lato", sans-serif;
}

img {
  display: block;
}

header {
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.intro-title {
  margin: 20px;
  padding: 5px;
  border: 3px solid black;
  text-align: center;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
  padding: 10px;
}

h4 {
  font-size: 15px;
  padding: 20px;
}

p {
  font-size: 16px;
}

header h1 {
  padding: 0px 30px;
  font-size: 40px;
  color: #fff;
}

.text-highlight {
  color: var(--brightcolor);
  transition: all 2s ease-in-out;
}

.main-menu a {
  color: #fff;
}

.main-menu {
  list-style-type: none;
  display: flex;
}

.main-menu li {
  padding: 0px;
}

.main-menu li a {
  padding: 20px 30px;
  display: block;
  text-decoration: none;
}

.about-me {
  padding: 20px 20px 0px 20px;
  /* border: 4px solid #000; */
}

.profile-image {
  margin-left: auto;
}

.hero-section {
  display: flex;
  align-items: center;
}

.hero-section .hero-row {
  width: 50%;
}

.hero-section .hero-row img {
  max-width: 100%;
  height: auto;
}

.hero-row p {
  padding: 0px 20px;
  margin-bottom: 8px;
}

.hero-row p:last-of-type {
    margin-bottom: 24px;
  }

.section-header {
  display: flex;
  padding: 10px 0px;
  background: var(--brightcolor);
}

.section-h2 {
  width: 100%;
  text-align: center;
  border-style: 4px solid #000;
}

.portfolio {
  background: white;
}

.project {
  display: flex;
  align-items: center;
}

.project img {
  max-width: 100%;
  height: auto;
}

.portfolio-text {
  background: var(--brightcolor);
  color: black;
  z-index: 1;
  position: absolute;
  white-space: nowrap;
}

.project:hover .floating a .portfolio-text {
    background-color: black;
    color: var(--brightcolor);
}

.skills:hover .floating a .portfolio-text {
    background-color: black;
    color: var(--brightcolor);
}

.skills:hover img {
    opacity:0.8; 
}

.skills { 
    background-color: var(--brightcolor);
}

.creative {
  display: flex;
  align-items: center;
}

.skills {
  display: flex;
  width: 50%;
  align-items: center;
  position: relative;
}

.skills img {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
}

.skills a {
  text-decoration: none;
  color: black;
  /* padding: 10px; */
}

.skills a:hover {
    background: black;
}

.floating {
    position: absolute;
}

.form-section form {
  padding: 20px;
}

.form-section {
  max-width: 100%;
  width: 600px;
  padding: 10px 20px;
  margin: 0 auto;
}

.form-row {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.form-row input,
textarea {
  width: 100%;
  outline: none;
  padding: 10px 0px 10px 0px;
  margin: 5px 1px 3px 0px;
  border-bottom: 5px solid var(--darkcolor);
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-top: 0px solid transparent;
  background-color: transparent;
}

.form-row input:focus,
textarea:focus {
  border-bottom: 5px solid var(--brightcolor);
}

.form-section input[type="submit"] {
  margin: 0 auto;
  display: block;
  border: 0;
  background-color: var(--brightcolor);
  color: black;
  border-radius: 0;
}
.form-section input[type="submit"]:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.form-row label {
  width: 180px;
  display: none;
}

.send-button {
  padding: 5px 40px;
  background: var(--brightcolor);
}

nav li a:hover {
  background: var(--brightcolor);
  color: black;
}

.social {
  display: flex;
  justify-content: center;
}

.social img {
  padding: 10px;
}

footer {
  text-align: center;
  font-style: italic;
  background: black;
  color: white;
  padding: 20px;
}

@media screen and (min-width: 2400px) {
  body {
    max-width: 2400px;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .hero-section {
    flex-direction: column-reverse;
  }

  .hero-section .hero-row {
    width: 100%;
    flex-direction: column-reverse;
  }

  nav {
    font-size: 50%;
  }

  header h1 {
    font-size: 18px;
  }
  .main-menu li a {
    padding: 5px 8px;
    display: block;
    text-decoration: none;
  }

  .creative {
    flex-direction: column;
  }

  .skills {
    width: 100%;
  }
}
