/* Theme colour notes: Colours below are used to compliment the black & white theme. --brightcolor is used to highlight h1 and h2 or accent certain sections for balance/aesthetics */

:root {
  --darkcolor: #424242;
  --lightcolor: #feffea;
  --brightcolor: #fcfc62;
  --darkgrey: #a3a3a3;
  --lightgrey: #c9c9c9;
}

body {
  background: var(--lightgrey);
  font-family: "Lato", sans-serif;
}

img {
  display: block;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
  padding: 10px;
}

h4 {
  font-size: 15px;
  padding: 20px;
}

p {
  font-size: 16px;
}

header h1 {
  padding: 0px 30px;
  font-size: 40px;
  color: #fff;
}

/* Start Navigation Styles */

header {
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

nav li a:hover {
  background: var(--brightcolor);
  color: black;
}

.main-menu {
  list-style-type: none;
  display: flex;
}

.main-menu li {
  padding: 0px;
}

.main-menu li a {
  padding: 20px 30px;
  display: block;
  text-decoration: none;
  color: #fff;
}

/* Styles to highlight last name "So" */

.text-highlight {
  color: var(--brightcolor);
  transition: all 2s ease-in-out;
}

/* End Navigation Styles */

/* Start Hero Section */

.intro-title {
  margin: 20px;
  padding: 5px;
  border: 3px solid black;
  text-align: center;
}

.about-me {
  padding: 20px 20px 0px 20px;
}

.profile-image {
  margin-left: auto;
}

.hero-section {
  display: flex;
  align-items: center;
}

.hero-section .hero-row {
  width: 50%;
}

.hero-section .hero-row img {
  max-width: 100%;
  height: auto;
}

.hero-row p {
  padding: 0px 20px;
  margin-bottom: 8px;
}

.hero-row p:last-of-type {
  margin-bottom: 24px;
}

/* End Hero Section */

/* Start Portfolio Section */

.section-header {
  display: flex;
  padding: 10px 0px;
  background: var(--brightcolor);
}

.section-h2 {
  width: 100%;
  text-align: center;
  border-style: 4px solid #000;
}

.portfolio {
  background-color: var(--brightcolor);
}

.project {
  display: flex;
  align-items: center;
}

.project img {
  max-width: 100%;
  height: auto;
}

.portfolio-text {
  background: var(--brightcolor);
  color: black;
  z-index: 1;
  position: absolute;
  white-space: nowrap;
}

/* Start Portfolio Featured Work */

.project:hover .floating a .portfolio-text {
  background-color: black;
  color: var(--brightcolor);
}

.project:hover img {
  opacity: 0.8;
}

/* Start Portfolio Featured Work */

.skills:hover .floating a .portfolio-text {
  background-color: black;
  color: var(--brightcolor);
}

.skills:hover img {
  opacity: 0.8;
}

.creative {
  display: flex;
  align-items: center;
}

.skills {
  display: flex;
  width: 50%;
  align-items: center;
  position: relative;
}

.skills img {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
}

.floating {
  position: absolute;
}

/* End Portfolio Section */

/* Start Contact Form  */

.form-section form {
  padding: 20px;
}

.form-section {
  max-width: 100%;
  width: 600px;
  padding: 10px 20px;
  margin: 0 auto;
}

.form-row {
  margin-bottom: 20px;
  align-items: center;
}

.form-row input,
textarea {
  width: 100%;
  outline: none;
  padding: 10px 0px 10px 0px;
  border-bottom: 2px solid var(--darkcolor);
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-top: 0px solid transparent;
  background-color: transparent;
}

.form-row input:focus,
textarea:focus {
  border-bottom: 4px solid var(--brightcolor);
}

.form-section button {
  margin: 0 auto;
  display: block;
  border: 0;
  background-color: var(--brightcolor);
  color: black;
  border-radius: 0px;
}
.form-section button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.form-row label {
  width: 180px;
  display: none;
}

.send-button {
  padding: 5px 40px;
  background: var(--brightcolor);
}

/* End Contact Form  */

/* Start Footer */

.social {
  display: flex;
  justify-content: center;
}

.social img {
  padding: 10px;
}

footer {
  text-align: center;
  font-style: italic;
  background: black;
  color: white;
  padding: 20px;
}

/* End Footer */

/* Desktop: For screens larger than 2400px, website will have a max-width to cater to maximum width of images*/

@media screen and (min-width: 2400px) {
  body {
    max-width: 2400px;
    margin: auto;
  }
}

/* Mobile & iPad*/

@media screen and (max-width: 768px) {
  .hero-section {
    flex-direction: column-reverse;
  }

  .hero-section .hero-row {
    width: 100%;
    flex-direction: column-reverse;
  }

  nav {
    font-size: 50%;
  }

  header h1 {
    font-size: 18px;
  }

  .main-menu li a {
    padding: 5px 8px;
  }

  .creative {
    flex-direction: column;
  }

  .skills {
    width: 100%;
  }
}
